@import "../global";
.mat-expansion-panel:nth-child(odd){
  background-color: $list-odd;
}
.mat-expansion-panel:nth-child(even){
  background-color: $list-even;
}
.ticket{
  &__title{
    margin-left: 5%;
    color: $klusplus-blue;
  }
}
