.card.mat-card{
  padding: 0%;
}
.mat-card-header-text{
  margin-left: 0%;
}
.card{
  width:100%;
  //margin-left: 32.5%;
  height: 800px;
  background-color: #d4d4d4;
  &__header {
    &__image {
      background-size: cover;
      vertical-align: middle;
      width: 400px;
      height: auto;
      float: left;
      margin-top: 10%;
    }
    &__title{
      //margin-left: 25%;
      width: 200px;
    }
    &__button{
      text-decoration: none;
      margin-top: 20%;
      background-color:#64c4b9;
      color: white;
      font-size: 18px;
    }
    &__form{
      width: 400px;
      //margin-left: 25%;
      &__field{
        width: 90%;
      }
    }
  }
}

