<mat-tab-group>
  <mat-tab label="{{user.Name }}"  *ngFor="let user of user">
    <mat-card class="card">
      <mat-card-header class="card__header">
        <mat-card-subtitle><img class="card__header__image" src="assets/img/Logo.png"></mat-card-subtitle>
        <mat-card-title class="card__header__title">{{ user.Name }}</mat-card-title>
        <mat-card-subtitle class="card__header__form">
          <mat-form-field class="example-full-width card__header__form__field">
            <input matInput placeholder="Straat" value="{{ user.Straat }}">
          </mat-form-field>
          <mat-form-field class="example-full-width card__header__form__field">
            <input matInput placeholder="Postcode" value="{{ user.Postcode }}">
          </mat-form-field>
          <mat-form-field class="example-full-width card__header__form__field">
            <input matInput placeholder="Stad" value="{{ user.Stad }}">
          </mat-form-field>
          <mat-form-field class="example-full-width card__header__form__field">
            <input matInput placeholder="Telefoonnummer" value="{{ user.Telefoonnummer }}">
          </mat-form-field>
        </mat-card-subtitle>
        <mat-card-subtitle><a class="card__header__button" mat-button routerLink="/home" routerLinkActive="active"><i class="material-icons">keyboard_arrow_left</i></a></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-tab>
</mat-tab-group>
