<mat-horizontal-stepper [linear]="!isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form class="form" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Uw gegevens</ng-template>
      <mat-form-field class="form__input">
        <input matInput placeholder="Voornaam" formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field class="form__input">
        <input matInput placeholder="Achternaam" formControlName="secondCtrl" required>
      </mat-form-field >
      <mat-form-field class="form__input">
        <input matInput placeholder="Postcode" formControlName="thirdCtrl" required>
      </mat-form-field>
      <mat-form-field class="form__input">
        <input matInput placeholder="Straat + huisnummer" formControlName="fourthCtrl" required>
      </mat-form-field>
      <mat-form-field class="form__input">
        <input matInput placeholder="E-mail" formControlName="fifthCtrl" required>
      </mat-form-field>
      <mat-form-field class="form__input">
        <input matInput placeholder="Telefoonnummer" formControlName="sixtCtrl" required>
      </mat-form-field>
      <div class="form__button">
        <button  mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form class="form" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Aanmelden van reperatie</ng-template>
      <mat-form-field class="form__input">
        <mat-select placeholder="Categorie" formControlName="firstCtrl">
          <mat-option value="verwarming">verwarming</mat-option>
          <mat-option value="voorziening">voorziening</mat-option>
          <mat-option value="sanitair">sanitair</mat-option>
          <mat-option value="culinair">culinair</mat-option>
          <mat-option value="buiten">buiten</mat-option>
          <mat-option value="overige">overige</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form__input">
        <textarea formControlName="secondCtrl" matInput placeholder="Omscrhijving"></textarea>
      </mat-form-field>
      <mat-form-field class="form__input">
        <input formControlName="thirdCtrl" matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form__input">
        <mat-label>Welk moment van de dag?</mat-label>
        <mat-select formControlName="fourthCtrl">
          <mat-option value="'s Ochtends">'s Ochtends</mat-option>
          <mat-option value="'s Middags">'s Middags</mat-option>
          <mat-option value="Hele dag">Hele dag</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form__button">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Overzicht</ng-template>
    <div class="overzicht">
      <h1 class="overzicht__h1">Overzicht</h1>
      <h3 class="overzicht__h3">Uw gegevens</h3>
      <p class="overzicht__p">Voornaam: {{ firstFormGroup.value.firstCtrl }}</p>
      <p class="overzicht__p">Achternaam: {{ firstFormGroup.value.secondCtrl}}</p>
      <p class="overzicht__p">Postcode: {{ firstFormGroup.value.thirdCtrl }}</p>
      <p class="overzicht__p">Straat + huisnummer: {{ firstFormGroup.value.fourthCtrl}}</p>
      <p class="overzicht__p">E-mail: {{ firstFormGroup.value.fifthCtrl }}</p>
      <p class="overzicht__p">Telefoonnummer: {{ firstFormGroup.value.sixtCtrl}}</p>

      <h3 class="overzicht__h3">Reperatie gegevens</h3>
      <p class="overzicht__p">Categorie: {{ secondFormGroup.value.firstCtrl }}</p>
      <p class="overzicht__p">Omschrijving: {{ secondFormGroup.value.secondCtrl}}</p>
      <p class="overzicht__p">Datum: {{ secondFormGroup.value.thirdCtrl }}</p>
      <p class="overzicht__p">Wanneer: {{ secondFormGroup.value.fourthCtrl }}</p>
    </div>
    <div class="form__button">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
