.form{
  &__button{
    margin-left: 37.5%;
  }
  &__input{
    margin-left: 37.5%;
    width: 25%;
  }
}
.overzicht{
  margin-left: 37.5%;
  width: 25%;
  &__h3{
    margin-left: 5%;
  }
  &__p{
    margin-left: 10%;
  }
}
