.mat-stepper-horizontal, .mat-stepper-vertical{
  background-color: #d4d4d4;;
}
.form{
  &__button{
  }
  &__input{
    width: 100%;
  }
}
.overzicht{
  width: 100%;
  &__h3{
    margin-left: 5%;
  }
  &__p{
    margin-left: 10%;
  }
}
