.card{
  width:35%;
  margin-left: 32.5%;
  height: 500px;
  &__group {
    position: absolute;
    &__image {
      background-color: pink;
      vertical-align: middle;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      float: left;
      position: absolute;
      margin-top: 0%;
      margin-left: 35%;
    }
  }
}
