<mat-card class="card">
  <mat-card-header class="card__header">
    <div mat-card-avatar class="card__header__image"></div>
    <mat-card-title class="card__header__title">Jurjen Veenstra</mat-card-title>
    <mat-card-subtitle><button mat-raised-button class="card__header__button">Direct reparatie aanvragen!</button></mat-card-subtitle>
    <mat-card-subtitle class="card__header__subtitle">Al een klant?<a class="card__header__subtitle__link" href="../request/request.component.html">Inloggen</a> </mat-card-subtitle>
  </mat-card-header>
</mat-card>
